a {
		text-decoration: none;		
}



	
body{
	background: #f9f3f3;
}


h1 {
	color:#f39189;
	font-size: 50px;
	font-family:Times,serif;
	text-align: center;
}

h2 {
	color:#e2bcb7;
	letter-spacing: 8px;
	font-size: 50px;
	text-align: center;
}

p {
	font-size: 50px
	color:black;
	text-align: center;
}

div{
	text-align: center;
}

#moi{
	width: 225px;
	height: 250px;
	border-radius: 50%;
	box-shadow: 0px 10px 10px rgba(0,0,0,0.3);
}


.liens{
	font-size:30px;
	background: #aee1e1;
	color: white;
	padding: 15px 20px;
	border-radius: 10px;
	margin: 50px;
}



.music{
	color: #e4bad4;
	font-size: 20px;
}

.social{
	font-size: 80px;
	color:#aee1e1;
}



}
.container{
	width:1000px;
	margin:40px auto;
}

#intro, #site, #hobbies, #music, #passions, #projects{
	background:white;
	padding:30px;
	margin:50px;
	box-shadow:0px 10px 10px rgba(0,0,0,0.1);
	border-radius: 10px;
}



#f{
	background:white;
	padding:0px;
	margin:50px;
	box-shadow:0px 10px 30px rgba (0,0,0,0.1);
	border-radius: 10px;
}


@media (max-width:760px) {
	.container{
		width: 650px;
	}
	h1{
		font-size: 30px;

}	
	.cover{
		width: 300px;
		height: 100px;
	}
	h2{
		font-size: 30px;
		letter-spacing: 6px;
	}

	.social{
		font-size: 60px;

	}
	.music{
		font-size: 20px;

	}
	.liens{
		font-size: 20px;
		padding: 10px 10px;
	}
}

@media (max-width:500px) {
	.container{
		width: 500px;
	}
	h1{
		font-size: 21px;

	}	
	.cover{
		width: 300px;
		height: 100px;
	}
	h2{
		font-size: 20px;
		letter-spacing: 4px;
	}

	.social{
		font-size: 50px;

	}
	.music{
		font-size: 15px;
	}
	.liens{
		font-size: 15px;
		padding: 7px 7px;
	}
}
